{% extends 'base.html' %}
{% load static %}


{% block content %}


<div class="container py-5">
  <h1 style="margin-left:20px; ">ABOUT</h1>
  <p class="lead" style="margin-left:20px;">
    Welcome to Air Quality—your little window onto the world’s atmosphere.
  </p>
  <p style="margin-left:20px;">
    Simply type in any city, and like magic you’ll see a live snapshot of the air you’re about to breathe. Whether you’re chasing clear skies or navigating urban hustle, Air Quality brings you an instant glimpse of your city’s air, helping you plan your day with peace of mind and a deeper connection to the world around you.
  </p>
</div>

{% endblock %}