{% extends 'base.html' %}
{% load static %}


{% block content %}

<h1 style="margin-left:20px; margin-top:20px;">CONTACT</h1>
<br>
<p style="margin-left:20px; ">Github:</p>
<a href="https://github.com/Mateosacco99" target="_blank" rel="noopener noreferrer"> <img src="{% static 'img/github.png' %}" alt="Github Logo" width="50" height="50" style="margin-left:20px; " /> </a>
<br>
<br>
<br>
<p style="margin-left:20px; ">Linkedin:</p>
<a href="https://www.linkedin.com/in/mateosacco99/" target="_blank" rel="noopener noreferrer"> <img src="{% static 'img/linkedin.png' %}" alt="Linkedin Logo" width="50" height="50" style="margin-left:20px; "/> </a>


{% endblock %}